*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

::selection{
    background-color: rgb(255, 0, 123);
    color: rgb(238, 255, 1);
}

img{
    max-width: 100%;
    height: auto;
}

#header_area {
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
  mix-blend-mode: multiply;
}

#nav_area {
  border-bottom: 2px solid #ddd;
}

#nav_area ul {
  list-style: none;
  margin: 0;
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#nav_area ul li {
  margin-right: 20px;
  font-weight: bold;
}

#nav_area ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
  
}

#nav_area ul li a:hover {
  color: #6ca2c8;
}

#content {
  margin: 10px auto;
  max-width: 1140px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
}

#main_content {
  max-width: 75%;
  padding: 10px 20px;
  border-right: 1px solid #ddd;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 3%;
  row-gap: 10px;
  grid-auto-rows: minmax(230px, auto);
}

.child_content h2 {
  margin: 0 0 15px;
  font-size: 18px;
  display: inline-block;
}

.child_content img {
  display: none;
}


.child_content:nth-child(1) {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row-reverse;
}
.child_content:nth-child(1) img {
    display: block;
    margin-left: 10px;
    max-width: 64%;
    height:213px;
}

#main_sidebar {
    max-width: 21%;
    margin: 0 auto;
  }

  .child_sidebar{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .child_sidebar:last-child{
    border-bottom: 0px solid;
  }

  .child_sidebar img{
    max-width: 100%;
  }

  .child_sidebar a{
    text-decoration: none;
    color: black;
  }

  #footer{
    padding: 15px 0;
    text-align: center;
    mix-blend-mode:multiply;
    filter: saturate(3);
  }